@model Eportafolio2.Models.Curriculum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curriculum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkedin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tools)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tools)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
